.container {
    box-shadow: 0px 10px 10px 0px #20319287;

    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 30px 0;

        .logo {
            img {
                object-fit: contain;
            }
        }

        .nav {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }
}