.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 120px 0;

    .inner {
        position: relative;
        width: inherit;
        height: 700px;
        padding: 50px;
        text-align: center;

        p {
            color: white;
            line-height: 31px;
            font-size: 14px;
            font-weight: 300;
        }

        button {
            margin: 32px 0;
        }


        .image {
            position: relative;
            height: 450px;
            width: 100%;
            img{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    }
}


@media only screen and (max-width:768px) {
    .container {
        .inner{
            .image{
                height: 200px;
            }
        }
    }
}