.bgServices {
    padding: 120px;
    background-color: #f8f9fa;

    .inner {
        width: 100%;

        .feature {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .box {
                width: 291px;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 38px 0px;

                &:hover .icon {
                    transform: translateY(-5px);
                }

                span {
                    font-weight: 700;
                    font-size: 20px;
                    margin: 17px 0px;
                }

                p {
                    text-align: center;
                    font-size: 16px;
                    color: #175CFC;
                }

                .icon {
                    display: flex;
                    align-items: center;
                    justify-self: center;
                    background-color: #175cff;
                    color: white;
                    padding: 10px 10px;
                    font-size: 26px;
                    border-radius: 15px;
                    transition: 0.5s ease;
                }
            }
        }

        .featureImg {
            width: 100%;
            height: auto;
            display: flex;
            padding: 50px 0 0 0;
            justify-content: space-between;

            .box {
                width: 48%;
                margin-top: 10px;
                padding: 33px;
                border-radius: 15px;
                display: flex;
                align-items: flex-start;
                justify-content: space-around;

                &:nth-child(1) {
                    background-color: #fcdde1;
                }

                &:nth-child(2) {
                    background-color: #ceddff;
                }

                .left {
                    display: flex;
                    flex-direction: column;
                    width: 50%;

                    .text {
                        width: 320px;
                        height: 152px;

                        span {
                            font-weight: 700;
                            font-size: 19px;
                        }

                        p {
                            line-height: 29px;
                            margin-top: 8px;
                            font-weight: 300;
                            font-size: 16px;
                        }
                    }

                    .btn {
                        width: 300px;
                        height: 59px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                    }
                }

                .right {
                    width: 40%;
                    height: 262px;
                    position: relative;

                    .img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width:1024px) {
    .bgServices {
        padding: 120px 0;
    }

}


@media only screen and (max-width:768px) {
    .bgServices {
        padding: 0;

        .inner {

            .feature {}

            .featureImg {
                padding: 0;

                .box {
                    width: 49%;

                    .left {
                        width: 100%;

                        .text {
                            height: auto;
                        }
                    }

                    .right {
                        display: none;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:425px) {
    .bgServices {

        .inner {

            .feature {
                display: none;
            }

            .featureImg {
                flex-direction: column;

                .box {
                    width: 100%;

                    .text {
                        width: 100% !important;
                        height: auto !important;
                    }

                }
            }
        }
    }
}